table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#Name {
    color: rgb(255, 0, 0);
}

#txt1 {
    background-color: aquamarine;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#txt1:hover {
    background-color: rgb(238, 255, 0);
    color: rgb(230, 11, 182);
}
.master {
  /* width: 150px;
  height: 150px; */
  display: inline-block; /* ao invés de colocar width e height esse comando se adequa ao tamanho do conteúdo */
  background-color: blue;
  padding: 30px;
  border: solid 5px pink;
}
.mini {
  height: 150px;
  width: 150px;
  background-color: aqua;
  border-radius: 100%;
}

/* position: absolute - colocar itens por cima dos outros itens */
/* z-index: 1 , 2 , x ... - indicar a ordem de prioridade que vai aparecer sobrepondo os outros itens da tela */
/* position: fixed - manter a posição na tela independente da rolagem */